body {
    font-family: sans-serif;
    margin: 0;
    background-color: #D9D9D9;
}

header {
    background-color: #292A41;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
    padding: 8px;
    font-size: 25px;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

header nav img{
    width: 15%; 
    margin-right: 50%; 
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav a:hover {
    background-color: rgb(132, 122, 122)
}

nav p {
    margin: 0;
}

main {
    padding: 20px;
}

.side-panel-left {
    position: fixed;
    top: 95 px;
    left: 0;
    height: 100%;
    width: 200px; /* Adjust the width as needed */
    background-color: #313A2E;
    color: white;
    padding: 10px;
    z-index: 1; /* Ensure the side panel is above other content */
}


@media screen and (min-width: 700px) {
    .side-panel-right {
        display: block; /* Show the side panel */
    }

    /* Adjust the margin for the content area to make space for the side panel on the right side */
    .content {
        margin-right: 220px; /* Adjust according to the width of the side panel plus some extra space */
    }
}

/* Style for the content area */
.content {
    margin-left: 240px; /* Adjust according to the width of the side panel */
    padding: 0px;
}

/* Style for the heading */
h1 {
    color: #333;
}

.side-panel-left ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.list_item {
    display: block;
    align-items: center;
}

.folder_list_item {
    display: block;
    margin-left: 20px;
}