<!DOCTYPE html>
<html lang="en">
    <header>
        <nav>
            <img src="/static\images\sasewhitelogo.png" alt = "SASE logo" width = 25% height = 25% style="cursor:pointer" onclick="goPage('landingpage.html')">
            <a href="/templates\index.html">HOME</a>
            <a href="/templates\about.html">ABOUT</a>
            <a href="/templates\login.html">LOGIN</a>
            <a href="/templates\signup.html">SIGN UP</a>
        </nav>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel = "styleSheet" href="/static/css/about.css">
</head>
<body>
    <div>
        <h1 class="tt">Our Team</h1>
        <p class="hd">UTA SASE's Fullstack team</p>
        <p class="desc">From the University of Texas at Arlington, our team comprised of undergraduate students spans a variety of majors. In this project, we worked to develop a fullstack website, combining the best efforts of all students of different backgrounds.</p>
    </div>

    <div>
        <h1 class="fe">Frontend</h1>
    </div>
    
    <div class="row">
        <div class="col">
            <img src="/static\images\nic-modified.png" alt = "Nic" style="width:50%">
            <h2 class="name">Nicholas Tran</h2>
            <p class="major">Computer Engineer</p>
            <p class="quote">"When life gives you gators, make gatorade."</p>
        </div>
        <div class="col">
            <img src="/static\images\ana-modified.png" alt = "An" style="width: 50%">
            <h2 class="name">Annelise Soonyadeth</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"Freshman. I used to dance!"</p>

        </div>
        <div class="col">
            <img src="/static\images\gup-modified.png" alt = "gup" style="width: 50%">
            <h2 class="name">Gurpreet Banwait</h2>
            <p class="major">Software Engineer</p>
            <p class="quote">"Freshman. My current hobbies are tennis, photography, watching wrestling, and (most importantly) having fun with family and friends."</p>

        </div>
        <div class="col">
            <img src="/static\images\stev-modified.png" alt = "stev" style="width: 50%">
            <h2 class="name">Steven Nguyen</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"My dentist said I’m grinding in my sleep."</p>
        </div>
        <div class="col">
            <img src="/static\images\tam-modified.png" alt = "Tammy" style="width: 50%">
            <h2 class="name">Tammy Ho</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"Freshman. FBGM."</p>
        </div>
    </div>
    <div>
        <h1 class="fe">Backend</h1>
    </div>
    <div class="row">
        <div class="col">
            <img src="/static\images\muh-modified.png" alt = "Muhammad" style="width:50%">
            <h2 class="name">Muhammad Khurram</h2>
            <p class="major">Computer Engineer</p>
            <p class="quote">"I like to code (One Piece is the best out of the Big 3)"</p>
        </div>
        <div class="col">
            <img src="/static\images\blank-modified.png" alt = "Jocelyn" style="width: 50%">
            <h2 class="name">Jocelyn Bui</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"Hey"</p>

        </div>
        <div class="col">
            <img src="/static\images\ashley-modified.png" alt = "Ashley" style="width: 50%">
            <h2 class="name">Ashley Qian</h2>
            <p class="major">Software Engineer</p>
            <p class="quote">"Freshman. I joined SASE RIG to learn more practical skills and gain experience in coding and collaborating as a team."</p>

        </div>
        <div class="col">
            <img src="/static\images\ky-modified.png" alt = "Kyle" style="width: 50%">
            <h2 class="name">Kyle Narita</h2>
            <p class="major">Industrial Engineering</p>
            <p class="quote">"I am a Senior majoring in industrial Engineering :&#41;"</p>
        </div>
        <div class="col">
            <img src="/static\images\naf-modified.png" alt = "Nafisa" style="width: 50%">
            <h2 class="name">Nafisa Nawrin Labonno</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"Is there any reward for goodness except goodness?" The Noble Qur'an [55:60]</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/static\images\sha-modified.png" alt = "Shash" style="width:30%">
            <h2 class="name">Shashiska K C</h2>
            <p class="major">Biomedical Engineering</p>
            <p class="quote">"Life shrinks or expands in proportion with one’s courage"</p>
        </div>
        <div class="col">
            <img src="/static\images\blank-modified.png" alt = "Keylan" style="width:30%">
            <h2 class="name">Keylan Phan</h2>
            <p class="major">Mechanical Engineering</p>
            <p class="quote">"Life shrinks or expands in proportion with one’s courage"</p>
        </div>
    </div>
    <div>
        <h1 class="fe">Mentors</h1>
    </div>
    <div class="row">
        <div class="col">
            <img src="/static\images\ash-modified.png" alt = "Ashley2" style="width:30%">
            <h2 class="name">Ashley Khuon</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"I like to draw."</p>
        </div>
        <div class="col">
            <img src="/static\images\dan-modified.png" alt = "Danny" style="width:30%">
            <h2 class="name">Danny Le</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"Hello, I'm Danny and I love League and TFT."</p>
        </div>
        <div class="col">
            <img src="/static\images\blank-modified.png" alt = "Hoang" style="width:30%">
            <h2 class="name">Hoang Long Phan</h2>
            <p class="major">Software Engineer</p>
            <p class="quote">"Life shrinks or expands in proportion with one’s courage"</p>
        </div>
    </div>

</body>