<!DOCTYPE html>
<html lang="en">
    <header>
        <nav>
            <img src="/static\images\sasewhitelogo.png" alt = "SASE logo" width = 25% height = 25% style="cursor:pointer" onclick="goHome()">
            <a href="/templates\index.html">HOME</a>
            <a href="#">ABOUT</a>
            <a href="/templates\login.html">LOGIN</a>
            <a href="/templates\signup.html">SIGN UP</a>
        </nav>
    </header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website</title>
    <link rel = "styleSheet" href="/static/css/about.css">
</head>
<body>
    <div>
        <h1 class="tt">Our Team</h1>
        <p class="hd">UTA SASE's Fullstack team</p>
        <p class="desc">From University of Texas at Arlington, our team comprised of undergraduate students spans a variety of majors, not limited to Computer Science. In this project, we worked to develop a fullstack website.</p>
    </div>

    <div>
        <h1 class="fe">Frontend</h1>
    </div>
    
    <div class="row">
        <div class="col">
            <img src="/static\images\nic-modified.png" alt = "Nic" style="width:50%">
            <h2 class="name">Nicholas Tran</h2>
            <p class="major">Computer Engineer</p>
            <p class="quote">"When life gives you gators, make gatorade."</p>
        </div>
        <div class="col">
            <img src="/static\images\ana-modified.png" alt = "An" style="width: 50%">
            <h2 class="name">Annelise Soonyadeth</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"When life gives you gators, make gatorade."</p>

        </div>
        <div class="col">
            <img src="/static\images\gup-modified.png" alt = "gup" style="width: 50%">
            <h2 class="name">Gurpreet Banwait</h2>
            <p class="major">Software Engineer</p>
            <p class="quote">"When life gives you gators, make gatorade."</p>

        </div>
        <div class="col">
            <img src="/static\images\stev-modified.png" alt = "stev" style="width: 50%">
            <h2 class="name">Steven Nguyen</h2>
            <p class="major">Computer Science</p>
            <p class="quote">"My dentist said I’m grinding in my sleep."</p>

        </div>
    </div>

</body>