<!DOCTYPE html>
<html lang="en">


<header>
  <nav>
    <img src="/static\images\sasewhitelogo.png" alt = "SASE logo" width = 25% height = 25% style="cursor:pointer" onclick="goPage('index.html')">
    <a href="/templates\index.html">HOME</a>
    <a href="#">ABOUT</a>
    <a id = "LOGIN" href="/templates\login.html">LOGIN</a>
    <a id = "SIGNUP" href="/templates\signup.html">SIGN UP</a>
  </nav>

</header>

  <head>
    <title>SASE IT</title>
    <link rel="stylesheet" href="/static\css\landingpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">

   <body>

    <div class="content">
      <div class="textBox">
      <h2>SASE IT</h2>
      <p>Ace it with SASE IT</p>
      <p class="Description">Have a habit of forgetting important due dates? Say goodbye to old habits and join SASE IT. With SASE IT you'll be able to manage all your important due dates in one space. </p>
      <a class="join-now-link" href="/templates/signup.html">JOIN NOW</a>

     </div>
      <div class="imgBox">
      <img src="/static/images/LandingPageLogo.png" class="Sase-Logo" alt="Sase Logo">

      </div>
    </div>


    <!-- <a href="login.html"><button class="login">Log In</button></a>    -->
  </body>
  <script src="/static\js\script.js"></script>
</html>
