<!DOCTYPE html>
<html lang="en">
    <header>
        <nav>
            <img src="/static\images\sasewhitelogo.png" alt = "SASE logo" width = 25% height = 25% style="cursor:pointer" onclick="goPage('landingpage.html')">
            <a href="/templates\index.html">HOME</a>
            <a href="/templates\about.html">ABOUT</a>
            <a id = "LOGIN" href="/templates\login.html">LOGIN</a>
            <a id = "SIGNUP" href="/templates\signup.html">SIGN UP</a>
        </nav>
    </header>
<head>
    <link rel = "styleSheet" href="\static\css\login.css">
    <link rel = "styleSheet" href="\static\css\style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <title>Sign Up Page</title>
</head>
<body>

<div class="login-container">
    <img src="/static\images\saselogo.png" alt = "SASE logo" width = 25% height = auto>
    <h2>Sign Up</h2>
    <form id="signupForm" method="POST">
        <input type="text" name="email" placeholder="Email" >
        <input type="text" name="username" placeholder="Username" >
        <input type="password" name="password" placeholder="Password" >
        <input type="password" name="confirm_password" placeholder="Confirm Password" >
        <button type="submit">Finish</button>
    </form>
</div>

</body>
<script src="/static\js\script.js"></script>
<script src="/static\js\signup.js"></script>
</html>